<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} Allocation Output {% endblock %}
{% block content %}
    <h1>Allocation Output</h1>
    <div id="table-select">
        <button id="students-button" class="selected" type="button">Students</button>
        <button id="staff-button" type="button">Staff</button>
        <button id="projects-button" type="button">Projects</button>
        <button id="self-proposed-button" type="button">Self-Proposed</button>
    </div>

    <div id="students-table">
        <table>
            <tr>
                <th>Name</th>
                <th>Allocated Code</th>
                <th>Allocated Title</th>
                <th>Allocated Staff</th>
                <th>Allocated Preference</th>
                <th>Change</th>
            </tr>
            {% for student in students %}
                <tr data-student-id="{{ student.id }}">
                    <td>{{ student.name }}</td>
                    <td>{{ student.allocated_code }}</td>
                    <td>{{ student.project.title if student.project }}</td>
                    <td>{{ student.allocated_staff }}</td>
                    <td>{{ student.allocated_preference }}</td>
                    <td>
                        <button class="dropdown-btn">▼</button>
                        <div class="dropdown-content">
                          {% for pref in range(1, 5) %}
                              <div class="dropdown-item {% if pref == student.allocated_preference %}allocated-preference{% endif %}" data-pref="{{ pref }}" data-project-code="{{ student['code' ~ pref] }}" data-staff="{{ staff_names_for_codes[student['code' ~ pref]] }}">
                                  {{ pref }}&emsp;|&emsp;{{ student['code' ~ pref] }} - {{ projects_Dict[student['code' ~ pref]].get('current_load') }}/{{ projects_Dict[student['code' ~ pref]].get('max_load') }}&emsp;|&emsp;{{ staff_names_for_codes[student['code' ~ pref]] }} - {{ staff_Dict[staff_names_for_codes[student['code' ~ pref]]].get('current_load') }}/{{ staff_Dict[staff_names_for_codes[student['code' ~ pref]]].get('max_load') }}
                              </div>
                          {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="staff-table" style="display: none;">
        <table>
            <tr>
                <th>Name</th>
                <th>Max Load</th>
                <th>Current Load</th>
                <th>Supervising Students</th>
                <th>Supervising Projects</th>
            </tr>
            {% for staff_member in staff %}
                {% if staff_member.name != "<unknown>" %}
                    <tr data-staff-name="{{ staff_member.name }}">
                        <td>{{ staff_member.name }}</td>
                        <td>{{ staff_member.max_load }}</td>
                        <td>{{ staff_member.current_load }}</td>
                        <td>{% for student in staff_member.students %}{{ student.name }}<br>{% endfor %}</td>
                        <td>{% for project in staff_member.projects %}{{ project.code }}<br>{% endfor %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div id="projects-table" style="display: none;">
        <table>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Max Load</th>
                <th>Current Load</th>
                <th>Staff Member</th>
                <th>Assigned Students</th>
            </tr>
            {% for project in projects %}
                {% if project.code != "OWN" %}
                  <tr data-project-code="{{ project.code }}">
                        <td>{{ project.code }}</td>
                        <td>{{ project.title }}</td>
                        <td>{{ project.max_load }}</td>
                        <td>{{ project.current_load }}</td>
                        <td>{{ project.staff_member }}</td>
                        <td>{% for student in project.students %}{{ student.name }}<br>{% endfor %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div id="self-proposed-table" style="display: none;">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Title</th>
                <th>Reason</th>
                <th>Staff Member</th>
            </tr>
            {% for student, title, reason in students_with_own %}
                {% if student.allocated_code == "OWN" %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ title }}</td>
                        <td>{{ reason }}</td>
                        <td>{{ student.allocated_staff }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    {% block scripts %}
        <script>
            const staffNamesForCodes = {{ staff_names_for_codes | tojson }};
            const projects_Dict = {{ projects_Dict | tojson }};
            const staff_Dict = {{ staff_Dict | tojson }};

            function updateDropdownContent(row) {
                const dropdownContent = row.querySelector('.dropdown-content');
                dropdownContent.querySelectorAll('.dropdown-item').forEach(item => {
                    const pref = parseInt(item.dataset.pref);
                    const projectCode = item.dataset.projectCode;
                    const staffName = item.dataset.staff;

                    // Update allocated preference background color and unclickability
                    if (row.children[1].textContent === projectCode) {
                        item.classList.add('allocated-preference');
                        item.style.pointerEvents = 'none';
                    } else {
                        item.classList.remove('allocated-preference');
                        item.style.pointerEvents = '';
                    }

                    // Update current_load and max_load for projects and staff
                    item.innerHTML = `${pref}&emsp;|&emsp;${projectCode} - ${projects_Dict[projectCode].current_load}/${projects_Dict[projectCode].max_load}&emsp;|&emsp;${staffName} - ${staff_Dict[staffName].current_load}/${staff_Dict[staffName].max_load}`;
                });
            }

            function showTable(tableId) {
                const tableIds = ["students-table", "staff-table", "projects-table", "self-proposed-table"];

                tableIds.forEach((id) => {
                    const table = document.getElementById(id);
                    if (id === tableId) {
                        table.style.display = "block";
                    } else {
                        table.style.display = "none";
                    }
                });
            }

            document.getElementById("students-button").addEventListener("click", () => showTable("students-table"));
            document.getElementById("staff-button").addEventListener("click", () => showTable("staff-table"));
            document.getElementById("projects-button").addEventListener("click", () => showTable("projects-table"));
            document.getElementById("self-proposed-button").addEventListener("click", () => showTable("self-proposed-table"));

            function updateAllocation(row, studentId, newPref, newProjectCode, newStaff, staff_names_for_codes, projects_Dict, staff_Dict) {
                $.ajax({
                    url: '/update_allocation',
                    type: 'POST',
                    data: {
                        student_id: studentId,
                        new_pref: newPref,
                        new_project_code: newProjectCode,
                        new_staff: newStaff
                    },
                    success: function (data) {
                        if (data.success) {
                            row.children[1].textContent = data.allocated_code;
                            row.children[2].textContent = data.allocated_title;
                            row.children[3].textContent = data.allocated_staff;
                            row.children[4].textContent = data.allocated_preference;

                            // Update staff table
                            const staffRow = document.querySelector(`[data-staff-name="${data.prev_staff}"]`);
                            staffRow.children[2].textContent = data.prev_staff_current_load;
                            const newStaffRow = document.querySelector(`[data-staff-name="${data.new_staff}"]`);
                            newStaffRow.children[2].textContent = data.new_staff_current_load;

                            // Update projects table
                            const projectRow = document.querySelector(`[data-project-code="${data.prev_project_code}"]`);
                            projectRow.children[3].textContent = data.prev_project_current_load;
                            const newProjectRow = document.querySelector(`[data-project-code="${data.new_project_code}"]`);
                            newProjectRow.children[3].textContent = data.new_project_current_load;

                            projects_Dict[data.prev_code].current_load = data.prev_project_current_load;
                            projects_Dict[data.allocated_code].current_load = data.allocated_project_current_load;
                            staff_Dict[data.prev_staff].current_load = data.prev_staff_current_load;
                            staff_Dict[data.allocated_staff].current_load = data.allocated_staff_current_load;
                        }
                    }
                });
            }


            const dropdownBtns = document.querySelectorAll('.dropdown-btn');
            dropdownBtns.forEach(btn => {
                btn.addEventListener('click', (event) => {
                    const content = event.currentTarget.nextElementSibling;
                    updateDropdownContent(event.target.closest('tr'));
                    content.style.display = content.style.display === 'block' ? 'none' : 'block';
                });
            });
            document.addEventListener('click', (event) => {
                if (event.target.classList.contains('dropdown-item')) {
                    const row = event.target.closest('tr');
                    const studentId = row.dataset.studentId;
                    const newPref = event.target.dataset.pref;
                    const newProjectCode = event.target.dataset.projectCode;
                    const newStaff = event.target.dataset.staff;
                    updateAllocation(event.target.closest('tr'), studentId, newPref, newProjectCode, newStaff, staffNamesForCodes, projects_Dict, staff_Dict);
                    updateDropdownContent(event.target.closest('tr'));
                    event.target.closest('.dropdown-content').style.display = 'none';
                }
            });

            document.querySelectorAll('tr[data-student-id]').forEach(row => {
                updateDropdownContent(row);
            });

        </script>
    {% endblock %}

{% endblock %}
