{% extends "base.html" %}

{% block content %}
    <h2>Allocation Input</h2>
    <form action="/allocate" method="post">
        <label for="startT">Start Temperature:</label>
        <input type="number" id="startT" name="startT" step="0.01" min="0" value="2.0" required><br><br>
        <label for="endT">End Temperature:</label>
        <input type="number" id="endT" name="endT" step="0.01" min="0" value="0.01" required><br><br>
        <label for="PREFERENCE_ENERGY">PREFERENCE_ENERGY:</label>
        <input type="number" id="PREFERENCE_ENERGY" name="PREFERENCE_ENERGY" step="0.01" min="0" value="0.25" required><br><br>
        <label for="STAFF_OVERLOAD_ENERGY">STAFF_OVERLOAD_ENERGY:</label>
        <input type="number" id="STAFF_OVERLOAD_ENERGY" name="STAFF_OVERLOAD_ENERGY" step="0.01" min="0" value="2" required><br><br>
        <label for="NO_PROJECT_ENERGY">NO_PROJECT_ENERGY:</label>
        <input type="number" id="NO_PROJECT_ENERGY" name="NO_PROJECT_ENERGY" step="0.01" min="0" value="5" required><br><br>
        <label for="PROJECT_OVERLOAD_ENERGY">PROJECT_OVERLOAD_ENERGY:</label>
        <input type="number" id="PROJECT_OVERLOAD_ENERGY" name="PROJECT_OVERLOAD_ENERGY" step="0.01" min="0" value="20" required><br><br>
        <input type="submit" value="Run Allocation Algorithm">
    </form>
{% endblock %}
