<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Instructions</h1>
    <ol class="instructions-list">
      <li>Firstly, click the <b>refresh all data</b> button below to ensure that the data has been reuploaded.</li>
      <li>Secondly, check the <b>student table</b> to ensure the data has been parsed in correctly.</li>
      <li>Thirdly, check the <b>staff table</b> and edit the maximum workload for each staff member.</li>
      <li>Next, check the <b>project table</b> to edit the maximum project load and verify any changes from the student table.</li>
      <li>Then, check the <b>self-proposed projects</b> and manually pin the appropriate ones, allocating staff where needed.</li>
      <li>Finally, go to the <b>allocate page</b>, add in your parameters and run the algorithm.</li>
    </ol>
    <button onclick="refreshAllData()">Refresh All Data</button>
    <script>
      function refreshAllData() {
        var endpoints = ['/staff/refresh', '/projects/refresh', '/students/refresh'];
        var completedRequests = 0;

        endpoints.forEach(function (endpoint) {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', endpoint, true);
          xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              completedRequests++;

              // When all requests have been completed, display a message
              if (completedRequests === endpoints.length) {
                alert('All data refreshed successfully!');
              }
            }
          };
          xhr.send();
        });
      }
    </script>
{% endblock %}
