<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Instructions</h1>
    <ol class="instructions-list">
      <li>Firstly, check the <b>student table</b> to ensure the data has been parsed in correctly.</li>
      <li>Secondly, check the <b>staff table</b> and edit the maximum workload for each staff member.</li>
      <li>Thirdly, check the <b>project table</b> to edit the maximum project load and verify any changes from the student table.</li>
      <li>Next, check the <b>self-proposed projects</b> and manually pin the appropriate ones, allocating staff where needed.</li>
      <li>Finally, go to the <b>allocate page</b>, add in your parameters and run the algorithm.</li>
    </ol>
{% endblock %}
