<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Staff Member</th>
      <th>Max Load</th>
      <th>Current Load</th>
      <th>Popularity</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{{ project.code }}</td>
      <td>{{ project.title }}</td>
      <td>{{ project.staff_member }}</td>
      <td>{{ project.max_load }}</td>
      <td>{{ project.current_load }}</td>
      <td>{{ project.popularity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
