{% extends 'base.html' %}
{% block title %} Statistics {% endblock %}
{% block content %}
    <h1>Allocation Statistics</h1>
    <div class="stats-cards">
        <div class="card" id="unallocated-students">
            <div class="card-content">
                <h3>Unallocated Students</h3>
                <span class="percentage"><p></p></span>
            </div>
        </div>
        <div class="card" id="first-preference">
            <div class="card-content">
                <h3>1st Preference</h3>
                <span class="percentage"><p></p></span>
            </div>
        </div>
        <div class="card" id="overloaded-projects">
            <div class="card-content">
                <h3>Overloaded Projects</h3>
                <span class="percentage"><p></p></span>
            </div>
        </div>
        <div class="card" id="overloaded-staff">
            <div class="card-content">
                <h3>Overloaded Staff</h3>
                <span class="percentage"><p></p></span>
            </div>
        </div>
    </div>

    <div class="chart-container">
        <div style="flex-basis: 49%; margin-bottom: 20px;">
            <h2>Student Preferences</h2>
            <canvas id="studentPreferencesChart"></canvas>
        </div>
        <div style="flex-basis: 49%; margin-bottom: 20px;">
            <h2>Project Load</h2>
            <canvas id="projectLoadChart"></canvas>
        </div>
    </div>
    <div style="flex-basis: 49%; margin-bottom: 20px;">
        <h2>Staff Load</h2>
        <canvas id="staffLoadChart"></canvas>
    </div>
    <div style="flex-basis: 49%; margin-bottom: 20px;">
        <h2>Energy Convergence</h2>
        <canvas id="energyConvergenceChart"></canvas>
    </div>


    <script>
        var energy_log_data = {{ energy_log|safe }};
        // Initialize the chart
        const ctx = document.getElementById('staffLoadChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [
                    {
                        label: 'Overloaded',
                        data: [],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Max Load',
                        data: [],
                        backgroundColor: 'rgba(255, 206, 86, 0.2)',
                        borderColor: 'rgba(255, 206, 86, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Below Max Load',
                        data: [],
                        backgroundColor: 'rgba(100, 200, 255, 0.2)',
                        borderColor: 'rgba(100, 200, 255, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        stacked: true
                    },
                    y: {
                        beginAtZero: true,
                        stacked: true
                    }
                }
            }
        });

        // Fetch staff statistics data
        fetch('/api/staff_statistics')
            .then(response => response.json())
            .then(data => {
                data.forEach(staff => {
                    if (staff.name !== '<unknown>') {
                        chart.data.labels.push(staff.name);

                        if (staff.current_load > staff.max_load) {
                            chart.data.datasets[0].data.push(staff.current_load);
                            chart.data.datasets[1].data.push(null);
                            chart.data.datasets[2].data.push(null);
                        } else if (staff.current_load === staff.max_load) {
                            chart.data.datasets[0].data.push(null);
                            chart.data.datasets[1].data.push(staff.current_load);
                            chart.data.datasets[2].data.push(null);
                        } else {
                            chart.data.datasets[0].data.push(null);
                            chart.data.datasets[1].data.push(null);
                            chart.data.datasets[2].data.push(staff.current_load);
                        }
                    }
                });

                // Update the chart
                chart.update();
            });

        // Initialize the student preferences chart
        const studentPrefsCtx = document.getElementById('studentPreferencesChart').getContext('2d');
        const studentPrefsChart = new Chart(studentPrefsCtx, {
            type: 'pie',
            data: {
                labels: ['1st Preference', '2nd Preference', '3rd Preference', '4th Preference', 'Not Allocated'],
                datasets: [{
                    data: [],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(100, 200, 255, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(100, 200, 255, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(201, 203, 207, 1)'
                    ],
                    borderWidth: 1,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false
                    }
                }]
            }
        });

        // Fetch student preferences data
        fetch('/api/student_preferences')
            .then(response => response.json())
            .then(data => {
                studentPrefsChart.data.datasets[0].data = data;
                studentPrefsChart.update();
        });

        // Initialize the project load chart
        const projectLoadCtx = document.getElementById('projectLoadChart').getContext('2d');
        const projectLoadChart = new Chart(projectLoadCtx, {
            type: 'pie',
            data: {
                labels: ['Overloaded', 'Max Load', 'Below Max Load'],
                datasets: [{
                    data: [],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(100, 200, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(100, 200, 255, 1)'
                    ],
                    borderWidth: 1,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false
                    }
                }]
            }
        });

        // Fetch project load data
        fetch('/api/project_load_statistics')
            .then(response => response.json())
            .then(data => {
                projectLoadChart.data.datasets[0].data = data;
                projectLoadChart.update();
        });

        // Update card content
        function updateCardContent(cardId, percentage) {
          const card = document.getElementById(cardId);
          const percentageText = percentage.toFixed(1) + '%';
          card.querySelector('p').textContent = percentageText;
        }

        // Fetch and update card data
        fetch('/api/student_preferences')
          .then((response) => response.json())
          .then((data) => {
            const totalStudents = data.reduce((a, b) => a + b, 0);
            updateCardContent('unallocated-students', (data[4] / totalStudents) * 100);
            updateCardContent('first-preference', (data[0] / totalStudents) * 100);
          });

        fetch('/api/project_load_statistics')
          .then((response) => response.json())
          .then((data) => {
            const totalProjects = data.reduce((a, b) => a + b, 0);
            updateCardContent('overloaded-projects', (data[0] / totalProjects) * 100);
          });

        fetch('/api/staff_statistics')
          .then((response) => response.json())
          .then((data) => {
            const totalStaff = data.length;
            const overloadedStaff = data.filter(staff => staff.current_load > staff.max_load).length;
            updateCardContent('overloaded-staff', (overloadedStaff / totalStaff) * 100);
          });

      </script>
      {% if energy_log %}
          <script>
            console.log("Energy log data:", energy_log_data);

            // Initialize the energy convergence chart
            const energyConvergenceCtx = document.getElementById('energyConvergenceChart').getContext('2d');
            const energyConvergenceChart = new Chart(energyConvergenceCtx, {
                type: 'line',
                data: {
                    labels: Array.from({length: energy_log_data.length}, (_, i) => i + 1),
                    datasets: [{
                        label: 'Energy',
                        data: energy_log_data,
                        backgroundColor: 'rgba(100, 200, 255, 0.2)',
                        borderColor: 'rgba(100, 200, 255, 1)',
                        borderWidth: 1,
                        fill: false,
                        pointRadius: 0,
                        lineTension: 0
                    }]
                },
                options: {
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Steps'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Energy'
                            }
                        }
                    }
                }
            });
          </script>
      {% else %}
          <p>Energy log data is not available. Please perform an allocation to generate energy log data.</p>
      {% endif %}

{% endblock %}
