<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} Students {% endblock %}
{% block content %}
    <h1>Students</h1>
    <button onclick="save()">Save</button>
    <button onclick="window.location='/students/refresh'">Refresh</button>
    <table id="students-table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Degree</th>
        <th>Code 1</th>
        <th>Title 1</th>
        <th>Code 2</th>
        <th>Title 2</th>
        <th>Code 3</th>
        <th>Title 3</th>
        <th>Code 4</th>
        <th>Title 4</th>
      </tr>
      {% for student in students %}
      <tr>
        <td>{{ student.id }}</td>
        <td contenteditable="true">{{ student.name }}</td>
        <td contenteditable="true">{{ student.username }}</td>
        <td contenteditable="true">{{ student.degree }}</td>
        <td contenteditable="true">{{ student.code1 }}</td>
        <td contenteditable="true">{{ student.title1 }}</td>
        <td contenteditable="true">{{ student.code2 }}</td>
        <td contenteditable="true">{{ student.title2 }}</td>
        <td contenteditable="true">{{ student.code3 }}</td>
        <td contenteditable="true">{{ student.title3 }}</td>
        <td contenteditable="true">{{ student.code4 }}</td>
        <td contenteditable="true">{{ student.title4 }}</td>
      </tr>
      {% endfor %}
    </table>

    <script>
    function save() {
      var table = document.getElementById("students-table");
      var rows = table.getElementsByTagName("tr");
      var data = [];
      for (var i = 1; i < rows.length; i++) {
        var row = rows[i];
        var cells = row.getElementsByTagName("td");
        var rowData = {
          "id": cells[0].textContent,
          "name": cells[1].textContent,
          "username": cells[2].textContent,
          "degree": cells[3].textContent,
          "code1": cells[4].textContent,
          "title1": cells[5].textContent,
          "code2": cells[6].textContent,
          "title2": cells[7].textContent,
          "code3": cells[8].textContent,
          "title3": cells[9].textContent,
          "code4": cells[10].textContent,
          "title4": cells[11].textContent,
        };
        data.push(rowData);
      }

      // Send data to server using AJAX
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/students/update", true);
      xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
          console.log(xhr.responseText);
        }
      };
      xhr.send(JSON.stringify(data));
    }
    </script>
{% endblock %}
